/* Basic styling for both plus and add_form components */

.stream-add-container {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  margin: 5px;
  width: 200px;
  height: 200px;
  // background-color: #CFD8DC;
  // font-size: 48px;
}
