.entry-add-form {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  color: black;
  margin-top: 10px;
  padding: 10px;
  background-color: #CFD8DC;
  cursor: pointer;
}

.exit {
  width: 10px;
}
