.entry {
  width: 500px;
  margin: 0 auto;
  text-align: left;
  margin-top: 10px;
  padding: 10px;
  background-color: #009688;
}

.time {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}
