.entry {
  width: 75%;
  margin: 0 auto;
  text-align: left;
  margin-top: 10px;
  padding: 10px;
  background-color: #009688;
}

.date {
  font-size: 14px;
  display: block;
  margin-bottom: 15px;
  display: inline-block;
}

.time {
  font-size: 14px;
  margin-top: 15px;
}

.entry-content {
  display: block;
}

.delete {
  display: inline;
  position: absolute;
  color: white;
  font-size: 16px;
  right: 15%;
}
