@import url('https://fonts.googleapis.com/css?family=Work+Sans');

.stream-list-container {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 36px;
}

.stream-list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
