@import "../../styles/main.scss";

.nothing-here {
  margin-left: 75px;
  margin-top: 100px;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
}

// CSS TRANSITION ANIMATION
.example-enter {
  opacity: 0.0;
}
.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.example-leave {
  opacity: 1;
}
.example-leave.example-leave-active {
  opacity: 0.0;
  transition: opacity 1000ms ease-in;
}
// END CSS TRANSITION ANIMATION

.entries-view {
  height: 100vh;
  color: white;
}

.tile-name {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

.entry-list-container {
  text-align: center;
  font-family: 'Lato', sans-serif !important;
}

.back {
  display: inline;
  font-size: 24px;
  margin-left: 5%;
  color: $gray !important;
  cursor: pointer;
}

.entries-container {
  margin-top: 0px;
  color: white;
  font-size: 18px;
}

.total-time {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 42px;
  color: $gray;
}

.delete-stream {
  width: 100px;
  height: 22px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: bold;
  color: #b71c1c;
  margin-top: 25px;
  cursor: pointer;
}

.color-0 {
  background-color: #B2EBF2;
}
.color-1 {
  background-color: #80DEEA;
}
.color-2 {
  background-color: #4DD0E1;
}
.color-3 {
  background-color: #26C6DA;
}
.color-4 {
  background-color: #00BCD4;
}
.color-5 {
  background-color: #00ACC1;
}
.color-6 {
  background-color: #0097A7;
}
.color-7 {
  background-color: #00838F;
}
.color-8 {
  background-color: #006064;
}

.dark-text {
  color: $gray;
}

.light-text {
  color: white;
}
