.text-field {
  height: 25px;
  width: 90%;
  margin-top: 50px;
  font-size: 14px;
  text-align: center;
}

.stream-form-exit {
  font-size: 16px;
  text-align: right;
  color: black;
}

.button-container {
  margin-top: 25px;
}

.stream-add-button {
  width: 75px;
}
