@import url('https://fonts.googleapis.com/css?family=Work+Sans');

.text-field {
  height: 25px;
  width: 90%;
  margin-top: 50px;
  font-size: 16px;
  text-align: center;
}

.stream-form-exit {
  font-size: 14px;
  text-align: right;
  color: #b71c1c;
}

.button-container {
  margin-top: 25px;
}

.submit-button {
  background-color: #00BCD4;
}
