@import url('https://fonts.googleapis.com/css?family=Roboto:100');

.streams-view {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  text-align: center;
}

.streams-message {
  margin-top: 25px;
  font-size: 24px;
}

.streams-grid {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

@media only screen and (max-width: 450px) {
  .streams-grid {
    margin-right: 0px;
    flex-direction: row;
    justify-content: center;
  }
}
