@import url('https://fonts.googleapis.com/css?family=Roboto:100');

// Entire page
.streams-view {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.page-title {
  font-size: 48px;
}

// Grid of all tiles, including the Add tile
.streams-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
