.entry-plus {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #CFD8DC;
  cursor: pointer;
}

.plus {
  font-size: 40px;
  font-weight: bold;
  margin: 0px;
  color: #263238;
}
