@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

.entry-add-form {
  width: 75%;
  margin: 0 auto;
  color: black;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.cancel {
  display: inline-block;
  margin-left: 75%;
  color: #b71c1c;
  font-size: 12px;
}

.field-container {
  display: inline;
}

.details {
  text-align: left; // formats placeholder
  display: block; // keeps field on its own line
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 300;
}

textarea {
  resize: none;
  box-sizing: border-box;
  padding: 10px;
  border-color: #B0BEC5;
}

.hours, .min {
  width: 50px;
  margin: 10px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #B0BEC5;
}

.save-button {
  border: none;
  background-color: black;
  border-radius: 15px;
  width: 100px;
  color: white;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
}

.button-container {
  text-align: center;
}
